.sketch-container{
  display: flex;
  flex: wrap;
  justify-content: center;
  align-content: center;
  position: relative;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../assets/ch-cross.png") repeat;
  opacity: 0.02;
}
.bottom-bar{
  background-color:aliceblue;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 15%;
  display: flex;
  flex: wrap;
}
.bottom-bar .sketch-container,
.bottom-bar .canvas-container{
  width: 100%;
  height: 100%;
}


/* general css */
body{
  background-color: rgb(185,182,184);
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  cursor: none;
}

#cursor{
  position: fixed;
  width: 192px;
  height: 192px;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

/* */
@media only screen and (min-width: 980px) and (max-width: 1000px) and (min-height: 1600px){
  .sketch-container{
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .canvas-container{
    min-width: 1500px;
    aspect-ratio: 1;
    position: relative;
  }
  canvas{
    min-width: 1500px;
    min-height: 1500px;
    aspect-ratio: 1;
  }
  .breaker{
    height: 15vh;
  }
}

@font-face{
  font-family: '';
}
